## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [6]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd
import numpy as np
import requests
import json
import time
from bs4 import BeautifulSoup

**Webscrapping from Box Office Mojo**

In [7]:
url_G = 'https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?by_mpaa=G'
url_PG = 'https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?by_mpaa=PG'
url_PG_13 = 'https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?by_mpaa=PG-13'
url_R = 'https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?by_mpaa=R'

In [8]:
url_list = [url_G, url_PG, url_PG_13, url_R]
count = 0
movies = []
imdb_ids = []

In [9]:
# main function, returns all relevant information we are looking for

def soupy(url, count, movies, imdb_ids):
    time.sleep(5)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    movies.extend(movie_deets(soup, movies, count))
    imdb_ids.extend(imdb_tags(soup, imdb_ids))
    print(len(imdb_ids))
    back = next_url(soup)
    if back:
        front = url.split('/chart')[0]
        new_url = front + back
        print(new_url)
        return soupy(new_url, count, movies, imdb_ids)
    elif count < 3:
        count +=1
        new_url = url_list[count]
        return soupy(new_url, count, movies, imdb_ids)
    else:
        return imdb_ids, movies

In [10]:
def imdb_tags(soup, imdb_ids):
    movie_info = soup.findAll('tr', style='')
    imdb_id = []
    for i in range(1,len(movie_info)):
        for detail in movie_info[i].find('td', class_='a-text-left mojo-header-column mojo-truncate mojo-field-type-title'):
            imdb_id.append(detail.get('href').split('/')[2]) 
    return imdb_id

In [11]:
# gets movie details in list format and returns to main function

def movie_deets(soup, movie_list, count):
    # navigates to where list of movies is
    movie_info = soup.findAll('tr', style='')
    movies = []
    rating = ['G', 'PG', 'PG-13', 'R']
    # loops through all movies in the list and adds info to master movie list
    for i in range(1,len(movie_info)):
        movie_deets = []
        for detail in movie_info[i].findAll('td'):
            movie_deets.append(detail.text)
        movie_deets.append(rating[count])
        movies.append(movie_deets)
    return movies

In [12]:
# gets the next url to navigate to the next page of results

def next_url(soup):
    
    #navigates to where url is
    next_ur = soup.find('li', class_='a-last').find('a') 
    
    #if url is there will return the next url
    # once the end of results is reached will return False to main function in order to terminate it
    if next_ur:
        return next_ur.get('href')
    else:
        return False

In [13]:
soupy(url_G, count, movies, imdb_ids)

200
https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?by_mpaa=G&offset=200
361
561
https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?offset=200&by_mpaa=PG
761
https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?offset=400&by_mpaa=PG
961
https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?offset=600&by_mpaa=PG
1161
https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?offset=800&by_mpaa=PG
1361
1561
https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?offset=200&by_mpaa=PG-13
1761
https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?by_mpaa=PG-13&offset=400
1961
https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?offset=600&by_mpaa=PG-13
2161
https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?by_mpaa=PG-13&offset=800
2361
2561
https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?by_mpaa=R&offset=200
2761
https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?by_mpaa=R&offset=400
2961
https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?by_mpaa=R&offset=600
3161
https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?by_mpaa=R&offset=800
3361

(['tt1979376',
  'tt0110357',
  'tt0435761',
  'tt0266543',
  'tt0198781',
  'tt1453405',
  'tt0120363',
  'tt0317219',
  'tt0910970',
  'tt0114709',
  'tt0101414',
  'tt0103639',
  'tt0382932',
  'tt0031381',
  'tt1216475',
  'tt0338348',
  'tt0029583',
  'tt0120855',
  'tt0120623',
  'tt0059742',
  'tt0451079',
  'tt3606752',
  'tt0055254',
  'tt0061852',
  'tt0114148',
  'tt0304669',
  'tt0115433',
  'tt0371606',
  'tt1615918',
  'tt2357291',
  'tt2452042',
  'tt0120762',
  'tt0097757',
  'tt0247638',
  'tt0120630',
  'tt0780521',
  'tt0058331',
  'tt0034492',
  'tt0134067',
  'tt0065377',
  'tt0116583',
  'tt0377981',
  'tt0119282',
  'tt0396555',
  'tt0368933',
  'tt0048280',
  'tt0042332',
  'tt0962726',
  'tt0120917',
  'tt0046183',
  'tt0190641',
  'tt0328880',
  'tt0452681',
  'tt0032910',
  'tt0413895',
  'tt0079945',
  'tt0268397',
  'tt1114677',
  'tt0428803',
  'tt0213203',
  'tt0032455',
  'tt0265662',
  'tt0052618',
  'tt0095776',
  'tt0166813',
  'tt1702443',
  'tt0058385',
  'tt0076618',
  'tt0211181',
  'tt0400497',
  'tt0069495',
  'tt0079588',
  'tt0049833',
  'tt1127884',
  'tt0112431',
  'tt0082406',
  'tt0120910',
  'tt0062622',
  'tt0118617',
  'tt0381971',
  'tt0056937',
  'tt0312004',
  'tt1433813',
  'tt0062994',
  'tt0053285',
  'tt0064603',
  'tt0420238',
  'tt0280030',
  'tt0095489',
  'tt0283426',
  'tt0090633',
  'tt0424942',
  'tt0057193',
  'tt0997047',
  'tt0220099',
  'tt0063374',
  'tt0210234',
  'tt0048960',
  'tt0072081',
  'tt0107131',
  'tt0054357',
  'tt0076538',
  'tt0071206',
  'tt0091149',
  'tt0071607',
  'tt0078872',
  'tt0038969',
  'tt0405469',
  'tt0072653',
  'tt0265632',
  'tt1020876',
  'tt0065421',
  'tt0113198',
  'tt0117110',
  'tt0453451',
  'tt0116552',
  'tt0063442',
  'tt0457419',
  'tt0393597',
  'tt0082474',
  'tt0108071',
  'tt0482603',
  'tt0076137',
  'tt1222815',
  'tt0100477',
  'tt0104940',
  'tt0096787',
  'tt0072272',
  'tt1449283',
  'tt0493949',
  'tt1680059',
  'tt0076054',
  'tt0298388',
  'tt0087755',
  'tt0032138',
  'tt0104254',
  'tt0396652',
  'tt0323642',
  'tt0088885',
  'tt0120800',
  'tt0092638',
  'tt0101329',
  'tt0074599',
  'tt0078504',
  'tt0078790',
  'tt0099878',
  'tt0072951',
  'tt1568921',
  'tt0361089',
  'tt0187819',
  'tt0765128',
  'tt1229827',
  'tt0065462',
  'tt0120327',
  'tt0098115',
  'tt0099472',
  'tt0407121',
  'tt0080861',
  'tt2458776',
  'tt0076044',
  'tt0846308',
  'tt0235679',
  'tt0297144',
  'tt0276033',
  'tt0158811',
  'tt3660770',
  'tt0078158',
  'tt0112286',
  'tt0205461',
  'tt0876563',
  'tt2800050',
  'tt0213749',
  'tt1223236',
  'tt0115472',
  'tt0114952',
  'tt0101301',
  'tt0084649',
  'tt2073128',
  'tt0430779',
  'tt0066181',
  'tt0089994',
  'tt4629266',
  'tt0486321',
  'tt0089731',
  'tt0110763',
  'tt0097050',
  'tt0475998',
  'tt0067065',
  'tt0120598',
  'tt0057546',
  'tt0160429',
  'tt0301727',
  'tt0159421',
  'tt0102802',
  'tt0111419',
  'tt0112453',
  'tt3231010',
  'tt0074539',
  'tt0081031',
  'tt0436595',
  'tt0067093',
  'tt0892375',
  'tt0140796',
  'tt0113670',
  'tt0111333',
  'tt0108526',
  'tt8760684',
  'tt0417415',
  'tt0069768',
  'tt0115509',
  'tt0090799',
  'tt0097053',
  'tt8080302',
  'tt0089984',
  'tt3195742',
  'tt7860270',
  'tt0763304',
  'tt0103262',
  'tt0186508',
  'tt0092752',
  'tt0318850',
  'tt0107745',
  'tt0089272',
  'tt0084237',
  'tt0166896',
  'tt0091584',
  'tt0334405',
  'tt1664894',
  'tt0084060',
  'tt0075323',
  'tt0089877',
  'tt0109279',
  'tt4935462',
  'tt0092603',
  'tt1699147',
  'tt0090152',
  'tt0114108',
  'tt0155388',
  'tt0113199',
  'tt0084821',
  'tt0255477',
  'tt0093744',
  'tt0118829',
  'tt0105616',
  'tt0099733',
  'tt0093743',
  'tt0076591',
  'tt3882074',
  'tt0424565',
  'tt0398872',
  'tt0074256',
  'tt0104401',
  'tt0092723',
  'tt0264578',
  'tt0154587',
  'tt0088318',
  'tt0119621',
  'tt0103882',
  'tt0096283',
  'tt0107719',
  'tt0107875',
  'tt0080461',
  'tt1034324',
  'tt0045152',
  'tt0100281',
  'tt0099669',
  'tt0287635',
  'tt0367960',
  'tt0072665',
  'tt0058182',
  'tt0271582',
  'tt0117040',
  'tt0104740',
  'tt0091123',
  'tt0096869',
  'tt0235060',
  'tt0166948',
  'tt0080762',
  'tt0380615',
  'tt0353965',
  'tt0086245',
  'tt0201840',
  'tt1520498',
  'tt0095530',
  'tt0097814',
  'tt0063823',
  'tt1093824',
  'tt0088678',
  'tt0488508',
  'tt0091658',
  'tt0347791',
  'tt0086112',
  'tt0112389',
  'tt0209189',
  'tt0095895',
  'tt0068537',
  'tt0095894',
  'tt0168856',
  'tt0347618',
  'tt0067992',
  'tt0119899',
  'tt0309372',
  'tt0113824',
  'tt0830199',
  'tt0064418',
  'tt0970521',
  'tt0111408',
  'tt0065126',
  'tt0120254',
  'tt0166090',
  'tt0878134',
  'tt0115940',
  'tt0260775',
  'tt4505170',
  'tt0027977',
  'tt0120882',
  'tt0432325',
  'tt0120659',
  'tt0365109',
  'tt9629026',
  'tt0173910',
  'tt0290823',
  'tt0206367',
  'tt3214286',
  'tt5495792',
  'tt0110473',
  'tt0062873',
  'tt0107233',
  'tt0090559',
  'tt1708537',
  'tt6238896',
  'tt0083701',
  'tt0056085',
  'tt0108395',
  'tt0064285',
  'tt4449576',
  'tt1502396',
  'tt2932606',
  'tt0113234',
  'tt6024606',
  'tt0335126',
  'tt2710614',
  'tt0379708',
  'tt0828065',
  'tt5851904',
  'tt4315956',
  'tt0498351',
  'tt0144608',
  'tt2103227',
  'tt0447016',
  'tt0117669',
  'tt0021749',
  'tt0287457',
  'tt1272051',
  'tt1250861',
  'tt0177606',
  'tt3846402',
  'tt4633340',
  'tt3332308',
  'tt6330246',
  'tt7543930',
  'tt3606756',
  'tt6105098',
  'tt2771200',
  'tt2277860',
  'tt4520988',
  'tt0120915',
  'tt0076759',
  'tt0298148',
  'tt0083866',
  'tt2294629',
  'tt2709768',
  'tt1690953',
  'tt3040964',
  'tt2096673',
  'tt6139732',
  'tt2948356',
  'tt2293640',
  'tt1014759',
  'tt0413267',
  'tt0241527',
  'tt0121765',
  'tt0086190',
  'tt0417741',
  'tt1049413',
  'tt0363771',
  'tt0080684',
  'tt0099785',
  'tt2709692',
  'tt3470600',
  'tt0126029',
  'tt3469046',
  'tt0295297',
  'tt0317705',
  'tt0170016',
  'tt0073195',
  'tt1490017',
  'tt1323594',
  'tt0477347',
  'tt0304141',
  'tt3521164',
  'tt0082971',
  'tt0087332',
  'tt0259446',
  'tt1587310',
  'tt0892791',
  'tt1217209',
  'tt1623205',
  'tt2245084',
  'tt0465234',
  'tt1231580',
  'tt0892769',
  'tt0952640',
  'tt1277953',
  'tt0441773',
  'tt1482459',
  'tt0088763',
  'tt2380307',
  'tt0367594',
  'tt1661199',
  'tt5848272',
  'tt0398286',
  'tt0892782',
  'tt0366548',
  'tt1080016',
  'tt0438097',
  'tt0351283',
  'tt4633694',
  'tt0077631',
  'tt1772341',
  'tt0481499',
  'tt0479952',
  'tt0087469',
  'tt0092099',
  'tt2224026',
  'tt1078912',
  'tt0084805',
  'tt1646971',
  'tt1155076',
  'tt0268380',
  'tt4116284',
  'tt3874544',
  'tt0319343',
  'tt1485796',
  'tt0112384',
  'tt0104431',
  'tt0368891',
  'tt1104001',
  'tt5028340',
  'tt2510894',
  'tt4846340',
  'tt0094137',
  'tt5220122',
  'tt1302011',
  'tt2279373',
  'tt1667889',
  'tt0307453',
  'tt2386490',
  'tt5113040',
  'tt0096438',
  'tt0070735',
  'tt0327084',
  'tt1679335',
  'tt0267913',
  'tt0087363',
  'tt0163187',
  'tt0448694',
  'tt1001526',
  'tt0837562',
  'tt1114740',
  'tt3794354',
  'tt0275847',
  'tt0111070',
  'tt5884052',
  'tt1436562',
  'tt2267968',
  'tt0822832',
  'tt0472181',
  'tt0499448',
  'tt0164912',
  'tt0105417',
  'tt0349205',
  'tt1067106',
  'tt0130623',
  'tt0100758',
  'tt0075860',
  'tt0078346',
  'tt2543472',
  'tt0486576',
  'tt0938283',
  'tt0097523',
  'tt0109813',
  'tt0358082',
  'tt2180411',
  'tt0089927',
  'tt0461770',
  'tt0108160',
  'tt0076729',
  'tt0389790',
  'tt0120382',
  'tt0084602',
  'tt0454876',
  'tt0844471',
  'tt1192628',
  'tt1979388',
  'tt0099810',
  'tt1985966',
  'tt0102057',
  'tt0436339',
  'tt0082846',
  'tt0096874',
  'tt0427327',
  'tt0339291',
  'tt0075148',
  'tt0072308',
  'tt0128853',
  'tt0210945',
  'tt5117670',
  'tt0094737',
  'tt0091326',
  'tt0069704',
  'tt3861390',
  'tt0397892',
  'tt4777008',
  'tt2692250',
  'tt0395699',
  'tt0240462',
  'tt0227538',
  'tt0097428',
  'tt0096320',
  'tt0338459',
  'tt0864835',
  'tt0322330',
  'tt0960731',
  'tt0092007',
  'tt0092493',
  'tt0086425',
  'tt0081573',
  'tt3281548',
  'tt1411704',
  'tt0104694',
  'tt0848537',
  'tt1985949',
  'tt0097239',
  'tt0066011',
  'tt0079417',
  'tt3513498',
  'tt0116313',
  'tt0119190',
  'tt0061722',
  'tt0117333',
  'tt0980970',
  'tt0317303',
  'tt1397514',
  'tt0099422',
  'tt1446192',
  'tt0080319',
  'tt0064115',
  'tt0373051',
  'tt0110478',
  'tt0120794',
  'tt0312528',
  'tt0118884',
  'tt0113497',
  'tt1620680',
  'tt0413099',
  'tt0112642',
  'tt1302067',
  'tt1620981',
  'tt4575576',
  'tt0141369',
  'tt6398184',
  'tt0097165',
  'tt0082031',
  'tt0117038',
  'tt1014775',
  'tt1964418',
  'tt0239395',
  'tt0119137',
  'tt1929263',
  'tt0087538',
  'tt0120587',
  'tt0492956',
  'tt0117705',
  'tt1691917',
  'tt0101862',
  'tt0814255',
  'tt1204342',
  'tt0099088',
  'tt0089755',
  'tt0072431',
  'tt4877122',
  'tt1823664',
  'tt2974918',
  'tt0287717',
  'tt0345950',
  'tt0077523',
  'tt0079817',
  'tt0400717',
  'tt0098384',
  'tt0069113',
  'tt3411444',
  'tt0331632',
  'tt0230011',
  'tt1911658',
  'tt6450186',
  'tt0080339',
  'tt6182908',
  'tt1860353',
  'tt0368578',
  'tt0452598',
  'tt0113862',
  'tt0398808',
  'tt0383216',
  'tt0077766',
  'tt0077663',
  'tt0397313',
  'tt0281373',
  'tt0114924',
  'tt0093565',
  'tt1222817',
  'tt0457510',
  'tt1051904',
  'tt0087277',
  'tt0071455',
  'tt0086567',
  'tt0084726',
  'tt0103060',
  'tt0077696',
  'tt0106965',
  'tt0983193',
  'tt1047540',
  'tt0386117',
  'tt0084516',
  'tt6673612',
  'tt2567026',
  'tt0113041',
  'tt0088011',
  'tt0088170',
  'tt1109624',
  'tt2788732',
  'tt0089370',
  'tt0338094',
  'tt0111280',
  'tt1389137',
  'tt0356634',
  'tt0327597',
  'tt0107688',
  'tt0449010',
  'tt0102975',
  'tt0094721',
  'tt0810913',
  'tt2091256',
  'tt0970179',
  'tt0388419',
  'tt0385880',
  'tt0785006',
  'tt4624424',
  'tt0414853',
  'tt1564349',
  'tt0082136',
  'tt1477715',
  'tt0486583',
  'tt0449089',
  'tt0098966',
  'tt0177789',
  'tt0416236',
  'tt0098536',
  'tt3450650',
  'tt2017020',
  'tt0107048',
  'tt0080377',
  'tt0074119',
  'tt0079574',
  'tt0479143',
  'tt0120844',
  'tt0088161',
  'tt0219854',
  'tt0106611',
  'tt1854564',
  'tt2119543',
  'tt1396218',
  'tt0086034',
  'tt3832914',
  'tt0311289',
  'tt0080549',
  'tt1075417',
  'tt1698641',
  'tt0257568',
  'tt0098554',
  'tt5814534',
  'tt0120783',
  'tt0081529',
  'tt0243585',
  'tt1667353',
  'tt0086361',
  'tt0085970',
  'tt0424095',
  'tt1753383',
  'tt0097351',
  'tt0349825',
  'tt1821658',
  'tt3416828',
  'tt1402488',
  'tt1196141',
  'tt0405325',
  'tt0103241',
  'tt0059800',
  'tt0963966',
  'tt1294226',
  'tt0089218',
  'tt7504726',
  'tt0119715',
  'tt0079100',
  'tt0066206',
  'tt4257926',
  'tt3224458',
  'tt7146812',
  'tt0443536',
  'tt0393735',
  'tt0183523',
  'tt2528814',
  'tt6324278',
  'tt0116705',
  'tt7547410',
  'tt0090056',
  'tt0808510',
  'tt0184907',
  'tt0086393',
  'tt0119432',
  'tt1028576',
  'tt0102492',
  'tt3014284',
  'tt2980706',
  'tt0082158',
  'tt0423294',
  'tt0901476',
  'tt0104437',
  'tt0104452',
  'tt0359950',
  'tt0182789',
  'tt0445990',
  'tt0108147',
  'tt0096446',
  'tt0103786',
  'tt0083564',
  'tt0765446',
  'tt1623288',
  'tt0104291',
  'tt1621039',
  'tt1219342',
  'tt3691740',
  'tt0086006',
  'tt5523010',
  'tt0082398',
  'tt2980648',
  'tt0453556',
  'tt0108333',
  'tt0114319',
  'tt0107985',
  'tt0100419',
  'tt0106375',
  'tt0443295',
  'tt0121164',
  'tt0892318',
  'tt0384642',
  'tt0083987',
  'tt1650043',
  'tt0074751',
  'tt0316465',
  'tt0410297',
  'tt0098382',
  'tt0110366',
  'tt1462769',
  'tt0078966',
  'tt0308644',
  'tt0356470',
  'tt0308506',
  'tt0106701',
  'tt0093428',
  'tt2281587',
  'tt0371724',
  'tt0058150',
  'tt0075223',
  'tt0138749',
  'tt0787474',
  'tt0104868',
  'tt0075784',
  'tt0120751',
  'tt0089155',
  'tt0082405',
  'tt0090264',
  'tt0109127',
  'tt2262227',
  'tt0110367',
  'tt0116250',
  'tt0299172',
  'tt0091396',
  'tt0081353',
  'tt0376105',
  'tt0422774',
  'tt0078163',
  'tt0976238',
  'tt2023453',
  'tt0316396',
  'tt0265298',
  'tt0396592',
  'tt0117372',
  'tt4302938',
  'tt0410377',
  'tt0087781',
  'tt0313911',
  'tt0075925',
  'tt0396752',
  'tt0084809',
  'tt0081696',
  'tt0076752',
  'tt0083943',
  'tt0102803',
  'tt5664636',
  'tt0386140',
  'tt1430607',
  'tt0117247',
  'tt0087365',
  'tt0109520',
  'tt0085750',
  'tt0056172',
  'tt1648179',
  'tt6428676',
  'tt2398241',
  'tt0070903',
  'tt0077578',
  'tt0374900',
  'tt2097298',
  'tt9134216',
  'tt0383010',
  'tt1093908',
  'tt0106400',
  'tt0081480',
  'tt0811080',
  'tt0079489',
  'tt0096794',
  'tt1596346',
  'tt0066995',
  'tt0467110',
  'tt1287468',
  'tt0091777',
  'tt0758794',
  'tt0105265',
  'tt2296777',
  'tt0110213',
  'tt0114388',
  'tt0481141',
  'tt0062512',
  'tt0079540',
  'tt0079116',
  'tt0079510',
  'tt1320261',
  'tt0306841',
  'tt0093493',
  'tt3369806',
  'tt0385726',
  'tt0081633',
  'tt0108308',
  'tt0762125',
  'tt0327137',
  'tt0095031',
  'tt2978462',
  'tt7616798',
  'tt0076489',
  'tt6095472',
  'tt0083791',
  'tt0095253',
  'tt0281358',
  'tt0082186',
  'tt0760329',
  'tt0089791',
  'tt4587656',
  'tt4468740',
  'tt0088850',
  'tt0081974',
  'tt7083526',
  'tt0091949',
  'tt0104187',
  'tt0096928',
  'tt0086837',
  'tt0295427',
  'tt0082979',
  'tt0086619',
  'tt0094739',
  'tt0282120',
  'tt0113755',
  'tt0093886',
  'tt0107120',
  'tt0099892',
  'tt0337711',
  'tt0092086',
  'tt0424774',
  'tt0403508',
  'tt0073026',
  'tt0097647',
  'tt2183034',
  'tt0086998',
  'tt1517489',
  'tt0414387',
  'tt0087062',
  'tt0075686',
  'tt0113820',
  'tt0133240',
  'tt0094012',
  'tt0110989',
  'tt0101452',
  'tt0110167',
  'tt0346156',
  'tt0326900',
  'tt0762121',
  'tt0091541',
  'tt0157472',
  'tt0120764',
  'tt0083641',
  'tt0047396',
  'tt0096734',
  'tt1647668',
  'tt0086873',
  'tt0120434',
  'tt0075222',
  'tt0286788',
  'tt1762399',
  'tt0838232',
  'tt0083169',
  'tt0078869',
  'tt0113419',
  'tt0070328',
  'tt1142977',
  'tt0120094',
  'tt0158622',
  'tt1185834',
  'tt0097366',
  'tt0790604',
  'tt3332064',
  'tt0082348',
  'tt0087921',
  'tt0103247',
  'tt8186318',
  'tt0141109',
  'tt0073812',
  'tt0156812',
  'tt0102216',
  'tt0075066',
  'tt0101635',
  'tt1392197',
  'tt0076138',
  'tt0117008',
  'tt1129423',
  'tt2247692',
  'tt3095734',
  'tt0250720',
  'tt0090142',
  'tt2555736',
  'tt0084827',
  'tt0108037',
  'tt0092494',
  'tt0418647',
  'tt0122459',
  'tt0317132',
  'tt0094606',
  'tt0132477',
  'tt0091653',
  'tt0106226',
  'tt0074174',
  'tt0106613',
  'tt0075029',
  'tt0078723',
  'tt0095800',
  'tt0426931',
  'tt0433383',
  'tt0076141',
  'tt1430626',
  'tt0087078',
  'tt0119303',
  'tt0093779',
  'tt0110093',
  'tt7961060',
  'tt0110442',
  'tt0109287',
  'tt0077869',
  'tt0078950',
  'tt0117608',
  'tt0078841',
  'tt2247476',
  'tt0113114',
  'tt0080801',
  'tt0123987',
  'tt7424200',
  'tt0093148',
  'tt0086005',
  'tt0086491',
  'tt0120185',
  'tt0361467',
  'tt0406375',
  ...],
 [['Toy Story 4', '1', '$434,038,008', '24', '2019', 'G'],
  ['The Lion King', '2', '$422,783,777', '28', '1994', 'G'],
  ['Toy Story 3', '3', '$415,004,880', '30', '2010', 'G'],
  ['Finding Nemo', '4', '$380,843,261', '43', '2003', 'G'],
  ['Monsters, Inc.', '5', '$289,916,256', '101', '2001', 'G'],
  ['Monsters University', '6', '$268,492,764', '111', '2013', 'G'],
  ['Toy Story 2', '7', '$245,852,179', '134', '1999', 'G'],
  ['Cars', '8', '$244,082,982', '136', '2006', 'G'],
  ['WALL·E', '9', '$223,808,164', '165', '2008', 'G'],
  ['Toy Story', '10', '$222,498,679', '167', '1995', 'G'],
  ['Beauty and the Beast', '11', '$218,967,620', '172', '1991', 'G'],
  ['Aladdin', '12', '$217,350,219', '178', '1992', 'G'],
  ['Ratatouille', '13', '$206,445,654', '203', '2007', 'G'],
  ['Gone with the Wind', '14', '$200,852,579', '214', '1939', 'G'],
  ['Cars 2', '15', '$191,452,396', '230', '2011', 'G'],
  ['The Polar Express', '16', '$187,224,490', '239', '2004', 'G'],
  ['Snow White and the Seven Dwarfs',
   '17',
   '$184,925,486',
   '244',
   '1937',
   'G'],
  ['Tarzan', '18', '$171,091,819', '297', '1999', 'G'],
  ["A Bug's Life", '19', '$162,798,565', '327', '1998', 'G'],
  ['The Sound of Music', '20', '$159,287,539', '339', '1965', 'G'],
  ['Horton Hears a Who!', '21', '$154,529,439', '358', '2008', 'G'],
  ['Cars 3', '22', '$152,901,115', '365', '2017', 'G'],
  ['One Hundred and One Dalmatians', '23', '$144,880,014', '396', '1961', 'G'],
  ['The Jungle Book', '24', '$141,843,612', '412', '1967', 'G'],
  ['Pocahontas', '25', '$141,579,773', '415', '1995', 'G'],
  ['The Santa Clause 2', '26', '$139,236,327', '429', '2002', 'G'],
  ['101 Dalmatians', '27', '$136,189,294', '445', '1996', 'G'],
  ['Chicken Little', '28', '$135,386,665', '448', '2005', 'G'],
  ['Alvin and the Chipmunks: Chipwrecked',
   '29',
   '$133,110,742',
   '464',
   '2011',
   'G'],
  ['Rio 2', '30', '$131,538,435', '474', '2014', 'G'],
  ['The Peanuts Movie', '31', '$130,178,411', '482', '2015', 'G'],
  ['Mulan', '32', '$120,620,254', '549', '1998', 'G'],
  ['The Little Mermaid', '33', '$111,543,479', '626', '1989', 'G'],
  ['The Princess Diaries', '34', '$108,248,956', '652', '2001', 'G'],
  ['Chicken Run', '35', '$106,834,564', '667', '2000', 'G'],
  ['The Princess and the Frog', '36', '$104,400,899', '688', '2009', 'G'],
  ['Mary Poppins', '37', '$102,272,727', '714', '1964', 'G'],
  ['Bambi', '38', '$102,247,150', '715', '1942', 'G'],
  ['The Rugrats Movie', '39', '$100,494,675', '745', '1998', 'G'],
  ['Airport', '40', '$100,489,151', '747', '1970', 'G'],
  ['The Hunchback of Notre Dame', '41', '$100,138,851', '759', '1996', 'G'],
  ['Gnomeo & Juliet', '42', '$99,967,670', '766', '2011', 'G'],
  ['Hercules', '43', '$99,112,101', '768', '1997', 'G'],
  ['Meet the Robinsons', '44', '$97,822,171', '773', '2007', 'G'],
  ['The Princess Diaries 2: Royal Engagement',
   '45',
   '$95,170,481',
   '792',
   '2004',
   'G'],
  ['Lady and the Tramp', '46', '$93,602,326', '807', '1955', 'G'],
  ['Cinderella', '47', '$93,141,149', '815', '1950', 'G'],
  ['High School Musical 3', '48', '$90,559,416', '843', '2008', 'G'],
  ["The Emperor's New Groove", '49', '$89,302,687', '856', '2000', 'G'],
  ['Peter Pan', '50', '$87,404,651', '873', '1953', 'G'],
  ['Pokémon: The First Movie - Mewtwo Strikes Back',
   '51',
   '$85,744,662',
   '894',
   '1999',
   'G'],
  ['Brother Bear', '52', '$85,336,277', '899', '2003', 'G'],
  ['The Santa Clause 3: The Escape Clause',
   '53',
   '$84,500,122',
   '913',
   '2006',
   'G'],
  ['Pinocchio', '54', '$84,254,167', '917', '1940', 'G'],
  ["Charlotte's Web", '55', '$82,985,708', '943', '2006', 'G'],
  ['Star Trek', '56', '$82,604,699', '948', '1979', 'G'],
  ['Jimmy Neutron: Boy Genius', '57', '$80,936,232', '978', '2001', 'G'],
  ['Hannah Montana: The Movie', '58', '$79,576,189', '1,005', '2009', 'G'],
  ['March of the Penguins', '59', '$77,437,223', '1,031', '2005', 'G'],
  ['Rugrats in Paris: The Movie', '60', '$76,507,756', '1,044', '2000', 'G'],
  ['Fantasia', '61', '$76,408,097', '1,047', '1941', 'G'],
  ['The Rookie', '62', '$75,600,072', '1,069', '2002', 'G'],
  ['Ben-Hur', '63', '$74,422,622', '1,088', '1959', 'G'],
  ['Oliver & Company', '64', '$74,151,346', '1,095', '1988', 'G'],
  ['Spirit: Stallion of the Cimarron',
   '65',
   '$73,280,117',
   '1,106',
   '2002',
   'G'],
  ['Justin Bieber: Never Say Never',
   '66',
   '$73,013,910',
   '1,115',
   '2011',
   'G'],
  ['My Fair Lady', '67', '$72,560,711', '1,123', '1964', 'G'],
  ['The Rescuers', '68', '$71,215,869', '1,151', '1977', 'G'],
  ['102 Dalmatians', '69', '$66,957,026', '1,240', '2000', 'G'],
  ['Herbie Fully Loaded', '70', '$66,023,816', '1,263', '2005', 'G'],
  ["What's Up, Doc?", '71', '$66,000,000', '1,265', '1972', 'G'],
  ['The Muppet Movie', '72', '$65,810,475', '1,269', '1979', 'G'],
  ['The Ten Commandments', '73', '$65,500,000', '1,276', '1956', 'G'],

In [16]:
# total number of data points/movies we pulled
len(imdb_ids)

3361

In [17]:
df_mojo = pd.DataFrame(movies)

In [18]:
df_mojo.head()

                0  1             2    3     4  5
0     Toy Story 4  1  $434,038,008   24  2019  G
1   The Lion King  2  $422,783,777   28  1994  G
2     Toy Story 3  3  $415,004,880   30  2010  G
3    Finding Nemo  4  $380,843,261   43  2003  G
4  Monsters, Inc.  5  $289,916,256  101  2001  G

In [21]:
df_mojo.columns = ['Title', 'Rank_by_MPAA_Rating', 'Domestic_Gross', 'Overall_Rank', 'Year', 'Rating']

In [22]:
df_mojo.head()

            Title Rank_by_MPAA_Rating Domestic_Gross Overall_Rank  Year Rating
0     Toy Story 4                   1   $434,038,008           24  2019      G
1   The Lion King                   2   $422,783,777           28  1994      G
2     Toy Story 3                   3   $415,004,880           30  2010      G
3    Finding Nemo                   4   $380,843,261           43  2003      G
4  Monsters, Inc.                   5   $289,916,256          101  2001      G

In [23]:
df_mojo['imdb_id'] = imdb_ids

In [24]:
df_mojo.head()

,Title,Rank_by_MPAA_Rating,Domestic_Gross,Overall_Rank,Year,Rating,imdb_id
0,Toy Story 4,1,"$434,038,008",24,2019,G,tt1979376
1,The Lion King,2,"$422,783,777",28,1994,G,tt0110357
2,Toy Story 3,3,"$415,004,880",30,2010,G,tt0435761
3,Finding Nemo,4,"$380,843,261",43,2003,G,tt0266543
4,"Monsters, Inc.",5,"$289,916,256",101,2001,G,tt0198781

**API Pull from TMDB**

In [26]:
api_key = '49fc59a029e4df5ad29e6be556dae829'

In [28]:
# Using the API key above and the imdb_ids list from the boxofficemojo webscrapping we were able to pull additional
# information for each of the 3300+ movie titles
imdb_data = []
for ids in imdb_ids:
    request = requests.get('https://api.themoviedb.org/3/movie/' + ids + '?api_key=' + api_key + '&language=en-US')
    time.sleep(.200)
    i = request.json()
    imdb_data.append(i)
print(imdb_data)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [53]:
# All the different keys of information that the API pull brought
request.json().keys()

dict_keys(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count'])

In [30]:
# inspect what type that each key is
for key in request.json().keys():
    print(key)
    value = request.json()[key]
    print(type(value))
    print('\n\n')

adult
<class 'bool'>



backdrop_path
<class 'str'>



belongs_to_collection
<class 'NoneType'>



budget
<class 'int'>



genres
<class 'list'>



homepage
<class 'str'>



id
<class 'int'>



imdb_id
<class 'str'>



original_language
<class 'str'>



original_title
<class 'str'>



overview
<class 'str'>



popularity
<class 'float'>



poster_path
<class 'str'>



production_companies
<class 'list'>



production_countries
<class 'list'>



release_date
<class 'str'>



revenue
<class 'int'>



runtime
<class 'int'>



spoken_languages
<class 'list'>



status
<class 'str'>



tagline
<class 'str'>



title
<class 'str'>



video
<class 'bool'>



vote_average
<class 'float'>



vote_count
<class 'int'>

In [31]:
# Convert the data into a pandas data frame
df_tmdb = pd.DataFrame.from_dict(imdb_data)
df_tmdb.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/q62bpQ67qaXY0u6b2wFEnQYIbPd.jpg,"{'id': 10194, 'name': 'Toy Story Collection', ...",175000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",https://www.pixar.com/feature-films-toy-story-4,301528,tt1979376,en,Toy Story 4,...,2019-06-19,1073394593,100,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Get Ready to Hit the Road,Toy Story 4,False,7.6,5029
1,False,/tLB58A9apIZ7fEUH9MN2V5fG1VC.jpg,"{'id': 94032, 'name': 'The Lion King Collectio...",45000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",http://movies.disney.com/the-lion-king,8587,tt0110357,en,The Lion King,...,1994-05-07,987483777,89,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Life's greatest adventure is finding your plac...,The Lion King,False,8.3,12393
2,False,/wE5JGzujfvDPMIfFjJyrhXFjZLc.jpg,"{'id': 10194, 'name': 'Toy Story Collection', ...",200000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://disney.go.com/toystory/,10193,tt0435761,en,Toy Story 3,...,2010-06-16,1066969703,103,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No toy gets left behind.,Toy Story 3,False,7.8,10168
3,False,/dFYguAfeVt19qAbzJ5mArn7DEJw.jpg,"{'id': 137697, 'name': 'Finding Nemo Collectio...",94000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://movies.disney.com/finding-nemo,12,tt0266543,en,Finding Nemo,...,2003-05-30,940335536,100,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There are 3.7 trillion fish in the ocean. They...,Finding Nemo,False,7.8,13547
4,False,/sDTnMOJ3H5wI38OxObmCtK7wfd5.jpg,"{'id': 137696, 'name': 'Monsters, Inc. Collect...",115000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://movies.disney.com/monsters-inc,585,tt0198781,en,"Monsters, Inc.",...,2001-11-01,562816256,92,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,We Scare Because We Care.,"Monsters, Inc.",False,7.8,12668

In [32]:
# rows, columns
df_tmdb.shape

(3361, 25)

In [78]:
df_tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
adult                   1000 non-null bool
budget                  1000 non-null int64
genres                  1000 non-null object
homepage                1000 non-null object
id                      1000 non-null int64
imdb_id                 1000 non-null object
original_language       1000 non-null object
original_title          1000 non-null object
overview                1000 non-null object
popularity              1000 non-null float64
production_companies    1000 non-null object
production_countries    1000 non-null object
release_date            1000 non-null object
revenue                 1000 non-null int64
runtime                 1000 non-null int64
spoken_languages        1000 non-null object
status                  1000 non-null object
tagline                 1000 non-null object
title                   1000 non-null object
video                   1000 non-null bool
vote_average            1000 non-null float64
vote_count              1000 non-null int64
dtypes: bool(2), float64(2), int64(5), object(13)
memory usage: 158.3+ KB

In [34]:
# Merging the two different data frames (boxofficemojo & tmdb) to create one combined data frame that was
# inner joined by the imdb id
df_final = df_mojo.merge(df_tmdb, on='imdb_id', how='inner')

In [35]:
df_final.head()

,Title,Rank_by_MPAA_Rating,Domestic_Gross,Overall_Rank,Year,Rating,imdb_id,adult,backdrop_path,belongs_to_collection,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,Toy Story 4,1,"$434,038,008",24,2019,G,tt1979376,False,/q62bpQ67qaXY0u6b2wFEnQYIbPd.jpg,"{'id': 10194, 'name': 'Toy Story Collection', ...",...,2019-06-19,1073394593,100,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Get Ready to Hit the Road,Toy Story 4,False,7.6,5029
1,The Lion King,2,"$422,783,777",28,1994,G,tt0110357,False,/tLB58A9apIZ7fEUH9MN2V5fG1VC.jpg,"{'id': 94032, 'name': 'The Lion King Collectio...",...,1994-05-07,987483777,89,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Life's greatest adventure is finding your plac...,The Lion King,False,8.3,12393
2,Toy Story 3,3,"$415,004,880",30,2010,G,tt0435761,False,/wE5JGzujfvDPMIfFjJyrhXFjZLc.jpg,"{'id': 10194, 'name': 'Toy Story Collection', ...",...,2010-06-16,1066969703,103,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No toy gets left behind.,Toy Story 3,False,7.8,10168
3,Finding Nemo,4,"$380,843,261",43,2003,G,tt0266543,False,/dFYguAfeVt19qAbzJ5mArn7DEJw.jpg,"{'id': 137697, 'name': 'Finding Nemo Collectio...",...,2003-05-30,940335536,100,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There are 3.7 trillion fish in the ocean. They...,Finding Nemo,False,7.8,13547
4,"Monsters, Inc.",5,"$289,916,256",101,2001,G,tt0198781,False,/sDTnMOJ3H5wI38OxObmCtK7wfd5.jpg,"{'id': 137696, 'name': 'Monsters, Inc. Collect...",...,2001-11-01,562816256,92,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,We Scare Because We Care.,"Monsters, Inc.",False,7.8,12668

In [37]:
# Import the combined data frame into a csv file to be able to clean the data through pandas
import csv
df_final.to_csv('final_movie_data.csv')